<div>
    <div class="progress total-progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>
    <div id="out"></div>
    <div class="keyboard-hints">
        <kbd>←</kbd> / <kbd>→</kbd> — навігація між словами |
        <kbd>1</kbd>-<kbd>9</kbd>, <kbd>0</kbd> — швидкий вибір тегу
    </div>
</div>

<script id="udpos_template" type="text/x-handlebars-template">
    {% raw %}
    {{#each this.data}}
    <div class="sentence">
        {{#each this}}
        <div class="btn-group word-wrapper{{#if pos}} done{{/if}}"{{#if pos}} data-pos="{{ pos }}"{{/if}}>
            <a href="#" class="btn btn-default dropdown-toggle word" data-toggle="dropdown" aria-expanded="false">{{ word }}</a>
            <ul class="dropdown-menu" role="menu">
                <li><a class="tag{{#ifEquals pos 'ADJ'}} selected{{/ifEquals}}" href="#" data-pos="ADJ"><span class="label label-pos pos-ADJ">ADJ</span> прикметник</a></li>
                <li><a class="tag{{#ifEquals pos 'ADP'}} selected{{/ifEquals}}" href="#" data-pos="ADP"><span class="label label-pos pos-ADP">ADP</span> прийменник</a></li>
                <li><a class="tag{{#ifEquals pos 'ADV'}} selected{{/ifEquals}}" href="#" data-pos="ADV"><span class="label label-pos pos-ADV">ADV</span> прислівник</a></li>
                <li><a class="tag{{#ifEquals pos 'AUX'}} selected{{/ifEquals}}" href="#" data-pos="AUX"><span class="label label-pos pos-AUX">AUX</span> допоміжне дієслово</a></li>
                <li><a class="tag{{#ifEquals pos 'CCONJ'}} selected{{/ifEquals}}" href="#" data-pos="CCONJ"><span class="label label-pos pos-CCONJ">CCONJ</span> сурядний сполучник</a></li>
                <li><a class="tag{{#ifEquals pos 'DET'}} selected{{/ifEquals}}" href="#" data-pos="DET"><span class="label label-pos pos-DET">DET</span> детермінатив</a></li>
                <li><a class="tag{{#ifEquals pos 'INTJ'}} selected{{/ifEquals}}" href="#" data-pos="INTJ"><span class="label label-pos pos-INTJ">INTJ</span> вигук</a></li>
                <li><a class="tag{{#ifEquals pos 'NOUN'}} selected{{/ifEquals}}" href="#" data-pos="NOUN"><span class="label label-pos pos-NOUN">NOUN</span> іменник</a></li>
                <li><a class="tag{{#ifEquals pos 'NUM'}} selected{{/ifEquals}}" href="#" data-pos="NUM"><span class="label label-pos pos-NUM">NUM</span> числівник</a></li>
                <li><a class="tag{{#ifEquals pos 'PART'}} selected{{/ifEquals}}" href="#" data-pos="PART"><span class="label label-pos pos-PART">PART</span> частка</a></li>
                <li><a class="tag{{#ifEquals pos 'PRON'}} selected{{/ifEquals}}" href="#" data-pos="PRON"><span class="label label-pos pos-PRON">PRON</span> займенник</a></li>
                <li><a class="tag{{#ifEquals pos 'PROPN'}} selected{{/ifEquals}}" href="#" data-pos="PROPN"><span class="label label-pos pos-PROPN">PROPN</span> власна назва</a></li>
                <li><a class="tag{{#ifEquals pos 'PUNCT'}} selected{{/ifEquals}}" href="#" data-pos="PUNCT"><span class="label label-pos pos-PUNCT">PUNCT</span> пунктуація</a></li>
                <li><a class="tag{{#ifEquals pos 'SCONJ'}} selected{{/ifEquals}}" href="#" data-pos="SCONJ"><span class="label label-pos pos-SCONJ">SCONJ</span> підрядний сполучник</a></li>
                <li><a class="tag{{#ifEquals pos 'SYM'}} selected{{/ifEquals}}" href="#" data-pos="SYM"><span class="label label-pos pos-SYM">SYM</span> символ</a></li>
                <li><a class="tag{{#ifEquals pos 'VERB'}} selected{{/ifEquals}}" href="#" data-pos="VERB"><span class="label label-pos pos-VERB">VERB</span> дієслово</a></li>
                <li><a class="tag{{#ifEquals pos 'X'}} selected{{/ifEquals}}" href="#" data-pos="X"><span class="label label-pos pos-X">X</span> інше</a></li>
            </ul>
        </div>
        {{/each}}
    </div>
    {{/each}}
    {% endraw %}
</script>